.chat-side
  .chat-side__bar
    .chat-side__bar__box
      .chat-side__bar__box__name
        itou
      %ul.chat-side__bar__box__icon
        %li.chat-side__bar__box__icon__group
          = link_to "#" do
            %i.fa.fa-edit 
        %li.chat-side__bar__box__icon__edit
          = link_to "#" do
            %i.fas.fa-cog
  .chat-side__groups
    .chat-side__groups__box
      .chat-side__groups__box__team
        team-b
      .chat-side__groups__box__message
        こんにちは

